body {
  background-image: url(Images/LeagueofLegends.jpg);
  background-attachment: fixed;
}
h1 {
  text-decoration: underline;
  text-align: center;
  font-family: arial;
}
p {
  font-family: arial;
}
ul li {
  list-style-type: none;
}
nav.menu-nav ul li.btn a {
  font-size: 28px;
  color: black;
  background-color: none;
  text-decoration: none;
}
nav.menu-nav ul li.btn:hover a {
  color: lightblue;
  background-color: none;
  transition: 0.15sec;
}
div#content div {
  display: inline-block;
}
div#content div.gauche {
  width: 20%;
  vertical-align: top;
  background-color: beige;
  text-align: center;
}
div#content div.milieu {
  width: 55%;
  background-color: lightcyan;
  text-align: center;
}
div#content div.droite {
  width: 24.4%;
  vertical-align: top;
  background-color: lightgreen;
  text-align: center;
}
header {
  font-size: 26px;
}
footer {
  color: white;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
